.aws/cli/cache
.aws/credentials
.aws/sso/cache
.bash_history
.cache
.cargo/bin
.cargo/.package-cache
.cargo/.package-cache-mutate
.cargo/registry
.config/fish/functions/keymongo.fish
.config/go/telemetry/local
.config/mozc/.session.ipc
Downloads
.eclipse/2139989682_linux_gtk_aarch64/configuration
go/pkg
.gradle
.java
.local
Local
.mozilla/firefox
.ssh
.config/aseprite/files
.config/aseprite/sessions
.npm
.zen
.config/obs-studio
