.bash_history
.cache
.cargo/bin
.cargo/.package-cache
.cargo/.package-cache-mutate
.cargo/registry
.config/mozc/.session.ipc
Downloads
.local
Local
.mozilla/firefox
.ssh
.java/fonts/17.0.15
.gradle
.eclipse/2139989682_linux_gtk_aarch64/configuration
